* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

body {
  background-color: #2a2a2a;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

/* Player turn space */
#print {
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f16775;
  font-size: 1.5rem;
}

b {
  color: #fee36e;
}

.center-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Game-grid {
  width: 450px;
  display: grid;
  grid-template-columns: auto auto auto;
}

/* 3*3 Grid */
#b1,
#b2,
#b3,
#b4,
#b5,
#b6,
#b7,
#b8,
#b9 {
  width: 150px;
  height: 100px;
  border: 3px solid #373e98;
  font-size: 60px;
  text-align: center;
  color: #ceb92c;
}

#b1 {
  border-top: none;
  border-left: none;
}

#b2 {
  border-top: none;
}

#b3 {
  border-top: none;
  border-right: none;
}

#b4 {
  border-left: none;
}

#b6 {
  border-right: none;
}

#b7 {
  border-bottom: none;
  border-left: none;
}
#b8 {
  border-bottom: none;
}
#b9 {
  border-bottom: none;
  border-right: none;
}
input {
  background-color: transparent;
}
/* Reset Button */
#but {
  box-sizing: border-box;
  width: 190px;
  height: 80px;
  border: 2px solid dodgerblue;
  margin: auto;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);

  color: white;
  font-size: 20px;
  cursor: pointer;
}

.button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button:active,
.button:hover {
  outline: 0;
}

.button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button:hover span {
  background: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

@media screen and (max-width: 550px) {
  #print {
    font-size: 1rem;
  }

  #b1,
  #b2,
  #b3,
  #b4,
  #b5,
  #b6,
  #b7,
  #b8,
  #b9 {
    width: 100px;
    height: 100px;
    font-size: 40px;
  }

  .Game-grid {
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  #print {
    font-size: 0.8rem;
  }

  #b1,
  #b2,
  #b3,
  #b4,
  #b5,
  #b6,
  #b7,
  #b8,
  #b9 {
    width: 80px;
    height: 80px;
    font-size: 20px;
  }

  .Game-grid {
    width: 240px;
  }
}
